table {
    border-collapse: inherit;
    border-spacing: 0;
    width: 50%;
    margin: 3rem 30rem;
    max-width: 100%;
    border: 1px solid black;
    
  }
  
  thead th {
    border-bottom: 1px solid black;
  }
  
  tfoot th {
    border-top: 2px solid #dedede;
  }
  
  td {
    border-bottom: 1px solid #dedede;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5rem;
  } 
  .leftsection{
      margin-left: 48rem;
  }
  .App-header{
      text-align: center;
  }

 