.login-form {
  text-align: center;
  padding: 2rem;
  display: inline-block;
  margin: 100px 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2px;
  padding-right: 2px;
  border: 0.1px solid gray;
  background-color: #e3e4fa;
}
input[type="text"],
input[type="password"],
input[type="text"] {
  height: 10px;
  border: 1px solid black;
  display: flex;
  padding: 8px 7px;
  margin-left: 90px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 50px;
}
.submit {
  padding: 2px 2px;
  margin-left: 2px;
  font-size: 17px;
}
.term {
  font-size: small;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 2px;
  margin-right: -4px;
}
.submit {
  margin-left: 45px;
  padding-left: 38px;
  padding-right: -100px;
  font-size: large;
}
.login {
  margin-left: -9px;
  background-color: gold;
  padding: 5px 5px 5px 5px;
}
.account {
  position: relative;
  bottom: 110px;
  left: 700px;
  font-size: 17px;
  padding: 3px 110px 3px 110px;
}
#tag {
  position: relative;
  bottom: 95px;
  left: 700px;
  color: black;
  font-size: medium;
}
#amazon_logo {
  margin-left: 860px;
  margin-bottom: -100px;
}
